@import "src/client/components/constants";

.movie-details {
  min-height: 550px;
  width: 100%;
  //background-image: url("src/static/images/bg.jpg");
  background-size: cover;
  border-bottom: 10px solid $main-grey-light;
  display: flex;
  justify-content: center;
  align-items: center;

  .actions {
    position: absolute;
    right: 60px;
    top: 24px;
    display: flex;
  }

  .back {
    padding: 8px;
    font-size: 30px;
    border-radius: 50%;
    color: $main-pink;
    background-color: rgba(66, 66, 66, 0.4);

    &:hover {
      background-color: rgba(66, 66, 66, 0.6);
    }

    &:active {
      transform: scale(0.98);
      background-color: rgba(66, 66, 66, 0.6);
    }
  }
}
