@import "../../../constants";

.card-wrapper {
  width: 365px;
  height: 600px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;

  .more-button {
    display: none;
    position: absolute;
    color: $main-white;
    background-color: rgba(66, 66, 66, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 15px;
    top: 15px;

    span {
      vertical-align: middle;
    }

    &:hover,
    &:active {
      background-color: rgba(66, 66, 66, 0.9);
    }
  }

  &:hover {
    .more-button {
      display: block;
    }
  }

  .card-image {
    height: 515px;

    img {
      width: 100%;
      height: inherit;
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }

  .card-title,
  .card-genres,
  .card-year {
    opacity: 0.5;
    color: $main-white;
  }

  .card-title {
    font-size: $main-font-size;
    letter-spacing: 1px;
    line-height: 22px;
  }

  .card-genres {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .card-year {
    padding: 0 12px;
    line-height: 20px;
    border-radius: $main-border-radius;
    border: 2px solid $main-grey-light;
  }
}
