* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.wrapper {
    padding: 24px 60px 0;
}

.uppercase {
    text-transform: uppercase;
}
