@import "../../../../constants";

.card-wrapper {
  width: 365px;
  height: 600px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  outline: none;

  .more-button {
    display: none;
  }

  .dropdown-list {
    display: none;
  }

  &:hover {
    .more-button {
      display: block;
    }

    .dropdown-list:not(.hidden){
      display: block;
    }
  }

  .card-image {
    height: 515px;

    img {
      width: 100%;
      height: inherit;
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
  }

  .card-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .card-rating {
      font-size: 16px;
      margin-top: 5px;

      .material-icons {
        margin-right: 5px;
        color: gold;
        font-size: 16px;
      }
    }
  }

  .card-title,
  .card-genres,
  .card-year,
  .card-rating {
    opacity: 0.5;
    color: $main-white;
  }

  .card-title {
    font-size: $main-font-size;
    letter-spacing: 1px;
    line-height: 22px;
  }

  .card-genres {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .card-year {
    padding: 0 12px;
    line-height: 20px;
    border-radius: $main-border-radius;
    border: 2px solid $main-grey-light;
  }
}
